<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>詳細画面（{{ .Name }}）</title>
	<link rel="stylesheet" type="text/css" href="Assets/css/index.css">
</head>

<body>
	<div class="container">
		<header>
			<p>詳細画面</p>
			<p class="drbutton">+</p>
		</header>
		<nav class="menu hide">
			<ul>
				<li>menu1</li>
				<li>menu2</li>
			</ul>
		</nav>
		<div id="Detail">
			<h2>名前：<a href="{{ .WebSiteUrl }}" target="_self" rel="noreferrer">{{ .Name }}</a></h2>
			<p> 住所：{{ .Address }}</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ .AddressSupplement }}</p>

			<h3>--連絡先--</h3>
			<ul>
				<li>電話番号：<a href="tel:{{ .PhoneNumber }}">{{ .PhoneNumber }}</a></li>
				<li>メール：<a href="mailto:{{ .Email }}">{{ .Email }}</a></li>
				<li>ウェブサイト：<a href="{{ .WebSiteUrl }}" target="_self" rel="noreferrer">{{ .WebSiteUrl }}</a></li>
			</ul>
			{{ range .Tag }}
			<input name="{{ .TagId }}" value="{{ .Name }}" type="button" class="tag"
				onclick="alert('クリックされた値は' + this.value + 'です')">
			</input>
			{{ end }}
			<p><a href="/" target="_self ">トップページに戻る</a></p>
		</div>
	</div>
	<script type="text/javascript" src="Assets/js/toppage.js"></script>
</body>

</html>
