<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Map</title>
    <link rel="stylesheet" type="text/css" href="Assets/css/index.css">
</head>
<body>
<div class="Container">
    <header>
        <p>title</p>
        <div id="LeftPadding">
            <div id="TagFilterButton" class="HeadButton">V</div>
            <div id="MenuButton" class="HeadButton">+</div>
        </div>

    </header>
    <nav id="Menu" class="Hide">
        <ul>
            <li>menu1</li>
            <li>menu2</li>
        </ul>
    </nav>
    <div id="TagFilter" class="Hide">
        <form name="FilterForm">
            <div id="DeterminationButtonDiv">
                <button type="button" id="DeterminationButton" onclick="FilteringDisplay()">決定</button>
            </div>
        </form>
    </div>

    <div id="Area"></div>
</div>
<script type="text/javascript" src="Assets/js/Map.js"></script>
<script type="text/javascript" src="Assets/js/TopPage.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ .API_KEY }}&callback=initMap" async defer></script>
</body>
</html>