<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>車椅子検索アプリ</title>
    <link rel="stylesheet" type="text/css" href="Assets/css/index.css">
</head>
<body>
<div class="Container">
    <header>
        <h2 class="HeaderTitle">車椅子検索アプリ</h2>
        <div id="HeaderMenu">
            <div id="TagFilterButton" class="HeaderItem">V</div>
            <div id="MenuButton" class="HeaderItem">+</div>
            <div id="SearchBox-Button" class="HeaderItem">🔍</div>
        </div>

    </header>
    <nav id="Menu" class="Hide">
        <ul>
            <li>お問い合わせ</li>
            <li>本アプリについて</li>
        </ul>
    </nav>
    <div id="TagFilter" class="Hide">
        <form name="FilterForm">
            <div class="TagButtonDiv">
                <button type="button" id="DeterminationButton" onclick="FilteringDisplay()">決定</button>
                <button type="reset" id="ResetButton" onclick="CheckReset()">リセット</button>
            </div>
        </form>
    </div>
    <div id="SearchBox" class="Hide">
        <input id="SearchBox-Input" type="text"/>
    </div>

    <div id="Area"></div>
</div>
<script type="text/javascript" src="Assets/js/TopPage.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ .API_KEY }}&callback=initMap&libraries=places" async defer></script> -->
</body>
</html>
