<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Map</title>
    <link rel="stylesheet" type="text/css" href="Assets/css/index.css">
</head>
<body>
<div class="container">
    <header>
        <p>title</p>
    </header>
    <div id="area"></div>
</div>
<script type="text/javascript" src="Assets/js/index.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .API_KEY }}&callback=initMap"></script>
</body>
</html>